:root {
  --background: #36393f;
  --backgroundDark: #2d3035;
  --colorText: #a3a6aa;
}

* {
  color: var(--colorText);
  background-color: var(--background);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
